{% from server import FileSystemDataStore %}
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <title>Loot</title>
    </head>
    <body>
        <div class="page-header">
            <h1 class="text-center">
                <i class="fa fa-fw fa-usd"></i>
                <i class="fa fa-fw fa-usd"></i>
                <i class="fa fa-fw fa-usd"></i>
                Loot
                <i class="fa fa-fw fa-usd"></i>
                <i class="fa fa-fw fa-usd"></i>
                <i class="fa fa-fw fa-usd"></i>
            </h1>
        </div>
        <div class="container">
            <div class="row">
                {% for user_id in FileSystemDataStore.user_ids() %}
                    {% set data_store = FileSystemDataStore(user_id) %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                          <i class="fa fa-fw fa-user"></i>
                          {% if "username.txt" in data_store %}
                                {{ data_store["username.txt"] }} - 
                          {% end %}
                          {{ user_id }}
                        </div>
                        <div class="panel-body">
                            <div class="btn-group-vertical" role="group" aria-label="...">
                                {% for filename in data_store %}
                                    <a class="btn btn-default" role="button" href="/download?user_id={{ user_id }}&filename={{ filename }}">
                                        <i class="fa fa-fw fa-download"></i>
                                        {{ filename }}
                                    </a>
                                {% end %}
                            </div>
                        </div>
                    </div>
                {% end %}
            </div>
        </div>
    </body>
</html>
